/*Style Sheet for FDM blog project*/
#container{
	width:90%;
	height:100%;
	background-color:black;
	margin-left:5%;
	margin-right:5%;
}
.need_white{
	color:white;
}
.needs_padding{
	padding:10px;
}
#header{
	position:relative;
	height:25%;
	
}
#logo{
	float:left;
	height:80%;
	width:20%;
	
}
#logo_img{
	height:80%;
	top:0%
}
#logo_img2{
	height:20%;
	top:80%;
}

#header_pic{
	float:right;
	width:80%;
	height:80%;
	background-color: gray
}
#header img{
	height:100%;
	width:100%;
}
#menu_bar{
	position:relative;
	height:20%;
	background-color:grey	;
	top:80%;
}
nav {
	position:absolute;
	width:100%;
	height:100%;
}
nav ul {
	overflow: hidden;
	position: relative;
	list-style: none;
	margin:0%;
}
nav ul li {
	width: 24%;
	float: left;
}
nav ul li :hover {
	background-color: green;
}
nav ul li a {
	text-decoration: none;
	background-color: grey;
	color: #FFFFFF;
	display: block;
	font-size: 20px;
	text-align: center;
	border: 1%;
	border-right: 0px;
}
#main_content{
	position:relative;
	height:70%;
}
#content{
	float:left;
	height:100%;
	background-color:white;
	width:79%;
	overflow-y:scroll;
	border-style:solid;
	border-left-width:1%;
	border-color:black;
}
#black_content{
	float:left;
	height:100%;
	background-color:white;
	width:79%;
	border-style:solid;
	border-left-width:1%;
	border-color:black;
	background-color:black;
}
#columns{
	-webkit-column-count: 2;
	font-size: 20px;
    column-rule-color: black;
	bottom:0%;
	left:0%;
}
#content .button{
	margin-left:20%;
}
#meter{
	float:right;
}
.centered{
	position:relative;
	display:block;
	margin:auto;
	width:20%;
}

@media screen and (max-width: 800px){
	#side_bar{
		display: none;
	}
	#content{
		width:98%;
		border-right-width:1%;
	}
	#em_div{
		font-size: 0.5em;
	}
	nav{
		display:none;
	}
}
#side_bar{
	float:right;
	height:100%;
	background-color:black;
	width:20%;
}
#login_form{
	padding:2%;
	height:20%;
	background-color:black;
	width:96%;
	overflow:hidden;
}
#remember{
	height:10%;
	padding:2%;
	width:96%;
	height:14%;
}
#footer{
	text-align:center;
}
.left {
    width: 30%;
    float: left;
    text-align: right;
}
.right {
    width: 65%;
    margin-left: 10px;
    float:left;
}


